@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a1a1a;
  background: #ffffff;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
